{% extends 'base.html' %}
{% load static %}
{% load slider_tags %}
{% block content %}


        <div class="container">
            <div class="row my-3">

                <div class="col-lg-3">
                    <img src="{{ post.img.url }}" alt="" class="img-fluid w-75 mb-3"/>
                </div>

                <div class="col-lg-9 col-12 text-justify">
                    <h5>{{ post.title }}</h5>
                    <hr>
                    <p><strong>{{ post.description }}</strong></p>
                    <p>{{ post.text|safe }}</p>
                    
                    

                    <p>Рубрика:
                        {% if post.category.count > 1 %}
                          <a href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                        {% else %}
                          <a href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                        {% endif %}
                    </p>


                    <p>Год: <a href="{% url 'posts_by_year' %}">{{ post.year }}</a></p>

                    <p>Месяц: {{ post.month }}</p>

                    <p>Теги:
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tags' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </p> 
                </div>
                
            </div>
        </div>
    
    
        

    
{% endblock %}