{% extends 'base.html' %}
{% load static %}
{% load slider_tags %}
{% block content %}


        <div class="container" style="min-height: 2000px;">
            <div class="row mt-3">




                <!-- секция слева -->
                <div class="col-xl-3">
                    <div class="div d-none d-xl-block">
                        <!-- Нав меню слева -->
                        {% include 'includes/menu-all.html' %}   
                    </div>
                </div>


                <!-- секция справа -->
                <div class="col-12 col-xl-9 text-justify mb-5">

                    <!-- Первый баннер -->
                    <div class="mb-3" id="banner-head">
                        {% get_banners 'header' as banners %}
                    
                        {% for banner in banners %}
                            {% if banner.show_on_main and request.path == '/' %}
                                {% include "banner.html" %}
                            {% elif not banner.show_on_main %}
                                {% include "banner.html" %}
                            {% endif %}
                        {% endfor %}                    
                    </div>

                    <!-- Хлебные крошки -->
                    <div class="col-sm-12 d-none d-md-block">
                        {% if breadcrumbs %}
                        <nav class="ps-1" id="breadcrumbs" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                {% for crumb in breadcrumbs %}
                                    {% if not forloop.last %}
                                        <li class="breadcrumb-item"><a id="full-txt" href="{{ crumb.url }}">{{ crumb.title }}</a></li>
                                    {% else %}
                                        <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
                                    {% endif %}
                                {% endfor %}
                            </ol>
                        </nav>
                        {% endif %}
                    </div>

                    <img src="{{ post.img.url }}" alt="" class="img-fluid w-100 mb-3 rounded"/>
                    <h5>{{ post.title }}</h5>
                    <hr>

                    <div class="container p-2" style="background: linear-gradient(45deg, #95efff2f, #ecbdff2d);">
                        <div class="ya-share2" data-services="vkontakte,telegram,whatsapp,odnoklassniki" data-color-scheme="blackwhite" data-direction="horizontal" data-shape="normal" data-title="{{ post.title }}" data-description="{{ post.description }}" data-image="{{ post.img }}"></div>
                        
                    </div>

                    <p>{{ post.text|safe }}</p>
                    
                    <div class="container p-2" style="background: linear-gradient(45deg, #95efff2f, #ecbdff2d);">
                        <div class="ya-share2" data-services="vkontakte,telegram,whatsapp,odnoklassniki" data-color-scheme="blackwhite" data-direction="horizontal" data-shape="normal" data-title="{{ post.title }}" data-description="{{ post.description }}" data-image="{{ post.img }}"></div>
                        
                    </div>
                    <hr>
                    
                    <p>Рубрика:
                        {% if post.category.count > 1 %}
                          <a href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                        {% else %}
                          <a href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                        {% endif %}
                    </p>


                    <p>Год: <a href="{% url 'posts_by_year' %}">{{ post.year }}</a></p>

                    <p>Месяц: {{ post.month }}</p>

                    <p>Теги:
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tags' tag.name %}" class="custom-link">{{ tag.name }}</a>
                        {% endfor %}
                    </p> 
                </div>
                
            </div>
        </div>
    
    
        

    
{% endblock %}