{% extends 'base.html' %}
{% load static %}
{% load slider_tags %}
{% block content %}


        <div class="container">
            <div class="row my-3">

                <!-- секция слева -->
                <div class="col-xl-3">
                    <img src="{{ post.img.url }}" alt="" class="img-fluid w-100 mb-3"/>

                    <!-- Нав меню слева -->
                    <div class="div d-none d-xl-block">
                        <nav id="left-menu" class="nav flex-column shadow p-1 mb-5 bg-body">
                            <div class="card" style="width: 100%">
                                <ul class="list-group list-group-flush">
                
                
                                <li class="list-group-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav1" aria-expanded="false" aria-controls="collapseNav">
                                    ИНТЕРВЬЮ
                                </a>
                                <div class="collapse" id="collapseNav1">
                                    <div class="card card-body">
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='face' %}">Интервью</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='personal-podhod' %}">Персональный подход</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='freemic' %}">Свободный микрофон</a>
                                    </div>
                                    </div>
                                </li>
                
                                <li class="list-group-item">
                                    <a class="nav-link" href="{% url 'category_posts' category_slug='ostraya-tema' %}">ОСТРАЯ ТЕМА</a>
                                </li>
                
                                <li class="list-group-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav" aria-expanded="false" aria-controls="collapseNav">
                                    КНИЖНЫЙ РЫНОК
                                </a>
                                <div class="collapse" id="collapseNav">
                                    <div class="card card-body">
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='knigniy-rinok' %}">Книжный рынок</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='bookraspr' %}">Книгораспространение</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='mirizdat' %}">Мир издательств</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='zarubez' %}">Зарубежный опыт</a>
                                    </div>
                                    </div>
                                </li>
                
                
                                <li class="list-group-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav2" aria-expanded="false" aria-controls="collapseNav">
                                    ИСКУССТВО ИЗДАВАТЬ
                                </a>
                                <div class="collapse" id="collapseNav2">
                                    <div class="card card-body">
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='vuz' %}">Вузовские издательства</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='periodika' %}">Научная периодика</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='kultura' %}">Книжная культура</a>
                                    </div>
                                    </div>
                                </li>
                
                                <li class="list-group-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav3" aria-expanded="false" aria-controls="collapseNav">
                                    БИБЛИОТЕКИ
                                </a>
                                <div class="collapse" id="collapseNav3">
                                    <div class="card card-body">
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='bibdelo' %}">Библиотеки</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='fonds' %}">Формирование библиотечных фондов</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='vuzbiblio' %}">Вузовские библиотеки</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='biblworld' %}">Библиотеки мира</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='geniy-place' %}">Гений места</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='absolut-media' %}">Абсолютно медиа</a>
                                    </div>
                                    </div>
                                </li>
                
                                <li class="list-group-item">
                                <a class="nav-link" href="{% url 'category_posts' category_slug='vishee' %}">НАУКА И ОБРАЗОВАНИЕ</a>
                                </li>
                                  
                                <li class="list-group-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav4" aria-expanded="false" aria-controls="collapseNav">
                                    ИНОВАЦИОННЫЕ ТЕХНОЛОГИИ
                                </a>
                                <div class="collapse" id="collapseNav4">
                                    <div class="card card-body">
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='tehnology' %}">Инновационные технологии</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='print' %}">Технологии печати</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='electron' %}">Электронные библиотеки</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='bookplus' %}">КНИГА+</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='ai' %}">Искусственный интеллект и нейросети</a>
                                    </div>
                                    </div>
                                </li>
                
                                <li class="list-group-item">
                                    <a class="nav-link" href="{% url 'category_posts' category_slug='vistavki-konferents' %}">ВЫСТАВКИ И КОНФЕРЕНЦИИ</a>
                                </li>
                
                                <li class="list-group-item">
                                <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav5" aria-expanded="false" aria-controls="collapseNav">
                                    КОНКУРСЫ И ПРЕМИИ
                                </a>
                                <div class="collapse" id="collapseNav5">
                                    <div class="card card-body">
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='konkurs' %}">Конкурс «Университетская книга»</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='laborotary-liderstva' %}">Лаборатория лидерства</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='otraslevye-konkurs' %}">Отраслевые конкурсы</a>
                                        <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='premiya' %}">Премии</a>
                                    </div>
                                    </div>
                                </li>
                
                                <li class="list-group-item">
                                    <a class="nav-link" href="{% url 'category_posts' category_slug='copyright' %}">COPYRIGHT</a>
                                </li>
                
                                <li class="list-group-item">
                                    <a class="nav-link" href="{% url 'category_posts' category_slug='creativ-context' %}">КРЕАТИВНЫЙ КОНТЕКСТ</a>
                                </li>
                
                                <li class="list-group-item">
                                    <a class="nav-link" href="{% url 'category_posts' category_slug='biblio-kompetenciy' %}">БИБЛИОТЕКА КОМПЕТЕНЦИЙ</a>
                                </li>
            
                                <li class="list-group-item" style="background-color:#c01826; border-top-left-radius: 0; border-top-right-radius: 0;" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-title="Это архив за последний месяц">
            
                                    <h5 class="ps-3 pe-5 pt-3" style="color: aliceblue;"><a href="{% url 'arhiv-list' %}?year={{ latest_post_year }}">Архив</a> за {{ latest_post_month }} {{ latest_post_year }}</h5>
            
                                    <a href="{% url 'posts_by_year' %}?year={{ latest_post_year }}&month={{ latest_post_month }}">
                                        <img src="{{ latest_post_image }}" alt="Изображение последнего месяца" class="img-fluid p-3">
                                    </a>
                                    <p class="p-3"><a style="color: aliceblue;" href="{% url 'post_detail' latest_post_category_slug latest_post_slug %}">
                                        {{ latest_post_title }}</a></p>						
            
                                </li>
            
                                <li class="list-group-item py-3" id="login">
                                    <div class="container">
                                        <h5>Вход</h5>
                                        <hr>
                                        {% if user.is_authenticated %}
                                            <p>Вы вошли как: {{ user.username }}</p>
                                            <p><a href="{% url 'account_profile' %}">Личный кабинет</a>
                                            <a href="{% url 'account_logout' %}">Выйти</a></p>
                                        {% else %}
                                            <form method="post" action="{% url 'custom-login' %}" class="mb-3">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <label for="{{ form.login.id_for_label }}" class="form-label">Имя пользователя</label>
                                                    <input type="text" name="{{ form.login.name }}" class="form-control rounded-0" id="{{ form.login.id_for_label }}" placeholder="Введите логин">
                                                </div>
                                                <div class="mb-3">
                                                    <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                                                    <input type="password" name="{{ form.password.name }}" class="form-control rounded-0" id="{{ form.password.id_for_label }}" placeholder="Введите пароль">
                                                </div>
                                                <div class="mb-3 form-check">
                                                    <input type="checkbox" class="form-check-input" id="{{ form.remember.name }}" name="{{ form.remember.name }}">
                                                    <label class="form-check-label" for="{{ form.remember.name }}">Запомнить меня</label>
                                                </div>
                                                <button type="submit" class="btn btn-custom rounded-0">Войти</button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </li>
            
            
                                <li class="list-group-item p-0">
                                    <!-- баннер в меню -->
                                    <div id="banner-left">
                                        {% get_banners 'left' as header_banners %}
                                    
                                        {% for banner in header_banners %}
                                            {% include "banner.html" %}
                                        {% endfor %}    
                                    </div>
                                </li> 
                                
                                
                            </div>
                        </nav>
                    </div>
                </div>


                <!-- секция справа -->
                <div class="col-12 col-xl-9 text-justify">


                        <div class="row justify-content-center">
                            <div class="col-sm-12 d-none d-sm-block">
                                {% if breadcrumbs %}
                                <nav class="ps-1" id="breadcrumbs" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        {% for crumb in breadcrumbs %}
                                            {% if not forloop.last %}
                                                <li class="breadcrumb-item"><a id="full-txt" href="{{ crumb.url }}">{{ crumb.title }}</a></li>
                                            {% else %}
                                                <li class="breadcrumb-item active" aria-current="page">{{ crumb.title }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    </ol>
                                </nav>
                                {% endif %}
                            </div>
                        </div>


                    <h5>{{ post.title }}</h5>
                    <hr>
                    <p>{{ post.text|safe }}</p>
                    
                    

                    <p>Рубрика:
                        {% if post.category.count > 1 %}
                          <a href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                        {% else %}
                          <a href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                        {% endif %}
                    </p>


                    <p>Год: <a href="{% url 'posts_by_year' %}">{{ post.year }}</a></p>

                    <p>Месяц: {{ post.month }}</p>

                    <p>Теги:
                        {% for tag in post.tags.all %}
                            <a href="{% url 'tags' tag.name %}">{{ tag.name }}</a>
                        {% endfor %}
                    </p> 
                </div>
                
            </div>
        </div>
    
    
        

    
{% endblock %}