{% load static %}


<div class="container shadow rounded">
    <div class="row rounded" style="background-color: #cbd5e5;">


        <div class="col-3 d-flex align-items-center">
            <a href="{% url 'home' %}">
                <img class="img-fluid" src="{% static 'logo-nb.png' %}" alt="Университетская книга" width="270">
            </a>
        </div>



        <div class="col-9">

            <div class="row">
            <div class="col-9 p-4 d-flex flex-column justify-content-center">
                <h5 style="font-size: 14px;">Новый номер: {{ latest_post_month }} {{ latest_post_year }}</h5>
                    
                    <!-- Вывод данных из header.html -->
                    {{ header_content | safe }}
                    
            </div>        








            <div class="col-3 p-2 d-flex flex-column justify-content-center align-items-center">
                <a href="{% url 'posts_by_year' %}?year={{ latest_post_year }}&month={{ latest_post_month }}">
                    <img src="{{ latest_post_image }}" alt="Изображение последнего месяца" class="img-fluid p-3" style="height: 170px;">
                </a>
                <h5 style="font-size: 15px;"><a href="{% url 'arhiv-list' %}?year={{ latest_post_year }}">Архив</a></h5>
            </div>
            </div>
        </div>


    </div>
</div>