{% load static %}

<div class="col-12 col-sm-6 col-md-4 col-xl-4 col-xxl-3 col-lg-3 px-1">
    <div id="cards-index" class="card">
        
        
        
        <!-- Фуллскрин -->
        {% if post.card_display == 'fullscreen' %}

        <div class="card-body" id="fullscreen" style="background-image: url('{{ post.get_image_absolute_url }}'); border-radius: 5px;">
            <div id="filter"></div>
            <div class="container p-3" style="position: absolute; bottom: 0; left: 0; right: 0;">
                <a id="full-txt" style="color: black;" href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
                {% if post.category.count > 1 %}
                    {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
                {% else %}
                    {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
                {% endif %}
            {% else %}
                {% url 'paid_view' %}
            {% endif %}">
                <h5 style="font-size: 15px;">{{ post.title }}</h5></a>

                
                <div class="text-start">
                    <div class="container p-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                {% if post.category.count > 1 %}
                                    <a id="full-txt" style="font-size: 12px;" href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                                {% else %}
                                    <a id="full-txt" style="font-size: 12px;" href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                                {% endif %}
                            </div>
                            <div class="col-2 text-end">
                                <form method="post" action="{% url 'manage_favorite' post.id %}" id="favoriteForm">
                                    {% csrf_token %}
                                    {% if is_favorite %}
                                        <p>Уже добавлен в избранное</p>
                                    {% else %}
                                        <button type="submit" id="favoriteButton" name="add_to_favorite" class="btn p-0">
                                            <img src="{% static 'empty-1.png' %}" style="width: 15px;" alt="В избранном">
                                        </button>
                                    {% endif %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        





        <!-- Без фото -->
        {% elif post.card_display == 'NoFoto' %}

            <div class="card-body">
                <div id="center-text">                  

                    <div id="center-nf">
                        <a id="full-txt" style="color: black; " href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
                        {% if post.category.count > 1 %}
                            {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
                        {% else %}
                            {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
                        {% endif %}
                    {% else %}
                        {% url 'paid_view' %}
                    {% endif %}"><h5 style="font-size: 15px;">{{ post.title }}</h5>
                    <p class="mt-3" style="font-size: 13px;">{{ post.description|safe }}</p>
                    </a></div>   

                    <div class="container p-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-10">
                                {% if post.category.count > 1 %}
                                    <a id="full-txt" style="font-size: 12px;" href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                                {% else %}
                                    <a id="full-txt" style="font-size: 12px;" href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                                {% endif %} 
                            </div>

                            <div class="col-2 text-end">
                                <form method="post" action="{% url 'manage_favorite' post.id %}"id="favoriteForm">
                                    {% csrf_token %}
                                    {% if is_favorite %}
                                        <p>Уже добавлен в избранное</p>
                                    {% else %}
                                        <button type="submit" id="favoriteButton" name="add_to_favorite" class="btn p-0">
                                            <img src="{% static 'empty-1.png' %}" style="width: 15px;" alt="В избранном">
                                        </button>
                                    {% endif %}
                                </form>                                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        
        
        
        <!-- Фото в половину -->
        {% else %}
        
        <div id="img-card-default" style="position: relative;">
            <a id="full-txt" style="color: black; " href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
               {% if post.category.count > 1 %}
                   {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
               {% else %}
                   {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
               {% endif %}
           {% else %}
               {% url 'paid_view' %}
           {% endif %}">
           <div class="d-flex align-items-center" id="half-card-img">
                <img src="{{ post.img.url }}" class="img-fluid w-100" alt="{{ post.title }}">
            </div></a>
        </div>
        
        <div class="card-body" id="card-half">
           
           <a id="full-txt" style="color: black; " href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
               {% if post.category.count > 1 %}
                   {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
               {% else %}
                   {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
               {% endif %}
           {% else %}
               {% url 'paid_view' %}
           {% endif %}">
            <h5 style="font-size: 15px;">{{ post.title }}</h5></a>
            <div class="container p-0">
                <div class="row d-flex align-items-center">
                    <div class="col-10">
                        {% if post.category.count > 1 %}
                            <a id="full-txt" style="font-size: 12px;" href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                        {% else %}
                            <a id="full-txt" style="font-size: 12px;" href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                        {% endif %} 
                    </div>

                    <div class="col-2 text-end">
                        <form method="post" action="{% url 'manage_favorite' post.id %}"id="favoriteForm">
                            {% csrf_token %}
                            {% if is_favorite %}
                                <p>Уже добавлен в избранное</p>
                            {% else %}
                                <button type="submit" id="favoriteButton" name="add_to_favorite" class="btn p-0">
                                    <img src="{% static 'empty-1.png' %}" style="width: 15px;" alt="В избранном">
                                </button>
                            {% endif %}
                        </form>                                             
                    </div>
                </div>
            </div>

        </div>
        {% endif %}
    </div>
</div>