{% load slider_tags %}
{% load static %}


<!-- Нав меню без поля с архивом-->
<nav id="left-menu" class="nav flex-column shadow p-1 mb-5 bg-body">
    <div class="card" style="width: 100%">
        <ul class="list-group list-group-flush">

        <li class="list-group-item">
            <div class="d-flex align-items-center justify-content-center">
                <a href="{% url 'home' %}">
                    <img class="img-fluid" src="{% static 'logo-nb.png' %}" alt="Университетская книга" width="270">
                </a>
            </div>
        </li>

        <li class="list-group-item">
            <h5 class="ms-3 mt-3" style="font-weight: 15px;">Выберите год</h5>
            <div class="card-body">
            <form method="get" action="">
                {{ form.year }}
                <button type="submit" class="btn btn-custom rounded-0 my-2">Показать обложки</button>
            </form>
            </div>  
        </li>


        <li class="list-group-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav1" aria-expanded="false" aria-controls="collapseNav">
            ИНТЕРВЬЮ
        </a>
        <div class="collapse" id="collapseNav1">
            <div class="card card-body">
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='face' %}">Действующие лица</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='personal-podhod' %}">Персональный подход</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='freemic' %}">Свободный микрофон</a>
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <a class="nav-link" href="{% url 'category_posts' category_slug='ostraya-tema' %}">ОСТРАЯ ТЕМА</a>
        </li>

        <li class="list-group-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav" aria-expanded="false" aria-controls="collapseNav">
            КНИЖНЫЙ РЫНОК
        </a>
        <div class="collapse" id="collapseNav">
            <div class="card card-body">
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='knigniy-rinok' %}">Книжный рынок</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='bookraspr' %}">Книгораспространение</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='mirizdat' %}">Мир издательств</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='zarubez' %}">Зарубежный опыт</a>
            </div>
            </div>
        </li>


        <li class="list-group-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav2" aria-expanded="false" aria-controls="collapseNav">
            ИСКУССТВО ИЗДАВАТЬ
        </a>
        <div class="collapse" id="collapseNav2">
            <div class="card card-body">
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='vuz' %}">Вузовские издательства</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='periodika' %}">Научная периодика</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='kultura' %}">Книжная культура</a>
            </div>
            </div>
        </li>

        <li class="list-group-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav3" aria-expanded="false" aria-controls="collapseNav">
            БИБЛИОТЕКИ
        </a>
        <div class="collapse" id="collapseNav3">
            <div class="card card-body">
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='bibdelo' %}">Библиотечное дело</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='fonds' %}">Формирование библиотечных фондов</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='vuzbiblio' %}">Вузовские библиотеки</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='biblworld' %}">Библиотеки мира</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='geniy-place' %}">Гений места</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='absolut-media' %}">Абсолютно медиа</a>
            </div>
            </div>
        </li>

        <li class="list-group-item">
        <a class="nav-link" href="{% url 'category_posts' category_slug='vishee' %}">НАУКА И ОБРАЗОВАНИЕ</a>
        </li>
          
        <li class="list-group-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav4" aria-expanded="false" aria-controls="collapseNav">
            ИННОВАЦИОННЫЕ ТЕХНОЛОГИИ
        </a>
        <div class="collapse" id="collapseNav4">
            <div class="card card-body">
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='tehnology' %}">Инновационные технологии</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='print' %}">Технологии печати</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='electron' %}">Электронные библиотеки</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='bookplus' %}">КНИГА+</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='ai' %}">Искусственный интеллект и нейросети</a>
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <a class="nav-link" href="{% url 'category_posts' category_slug='vistavki-konferents' %}">ВЫСТАВКИ И КОНФЕРЕНЦИИ</a>
        </li>

        <li class="list-group-item">
        <a class="nav-link" data-bs-toggle="collapse" href="#collapseNav5" aria-expanded="false" aria-controls="collapseNav">
            КОНКУРСЫ И ПРЕМИИ
        </a>
        <div class="collapse" id="collapseNav5">
            <div class="card card-body">
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='konkurs' %}">Конкурс «Университетская книга»</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='laborotary-liderstva' %}">Лаборатория лидерства</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='otraslevye-konkurs' %}">Отраслевые конкурсы</a>
                <a class="nav-link border-bottom" href="{% url 'category_posts' category_slug='premiya' %}">Премии</a>
            </div>
            </div>
        </li>

        <li class="list-group-item">
            <a class="nav-link" href="{% url 'category_posts' category_slug='copyright' %}">COPYRIGHT</a>
        </li>

        <li class="list-group-item">
            <a class="nav-link" href="{% url 'category_posts' category_slug='creativ-context' %}">КРЕАТИВНЫЙ КОНТЕКСТ</a>
        </li>

        <li class="list-group-item">
            <a class="nav-link" href="{% url 'category_posts' category_slug='biblio-kompetenciy' %}">БИБЛИОТЕКА КОМПЕТЕНЦИЙ</a>
        </li>

        <li class="list-group-item py-3" id="login">
            <div class="container">
                <h5>Вход</h5>
                <hr>
                {% if user.is_authenticated %}
                    <p>Вы вошли как: {{ user.username }}</p>
                    <p><a href="{% url 'account_profile' %}" class="btn btn-custom rounded-0">Личный кабинет</a>
                    <a href="{% url 'account_logout' %}" class="btn btn-custom rounded-0">Выйти</a></p>
                {% else %}
                    <form method="post" action="{% url 'custom-login' %}" class="mb-3">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="{{ form.login.id_for_label }}" class="form-label">Имя пользователя</label>
                            <input type="text" name="{{ form.login.name }}" class="form-control rounded-0" id="{{ form.login.id_for_label }}" placeholder="Введите логин">
                        </div>
                        <div class="mb-3">
                            <label for="{{ form.password.id_for_label }}" class="form-label">Пароль</label>
                            <input type="password" name="{{ form.password.name }}" class="form-control rounded-0" id="{{ form.password.id_for_label }}" placeholder="Введите пароль">
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="{{ form.remember.name }}" name="{{ form.remember.name }}">
                            <label class="form-check-label" for="{{ form.remember.name }}">Запомнить меня</label>
                        </div>
                        <button type="submit" class="btn btn-custom rounded-0">Войти</button>
                        <a class="btn btn-custom rounded-0 ms-1" href="{% url 'custom_signup' %}">Регистрация</a>
                    </form>
                {% endif %}
            </div>
        </li>


        <li class="list-group-item p-0">
            <!-- баннер в меню -->
            <div id="banner-left">
                {% get_banners 'left' as header_banners %}
            
                {% for banner in header_banners %}
                    {% include "banner.html" %}
                {% endfor %}    
            </div>
        </li> 
        
        
    </div>
</nav>