{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">

        <div class="col-lg-3 mb-3">
            <p><h5>О нас</h5></p>
            <hr>
            <p><a href="#auditory">Читательская аудитория</a></p>
            <p><a href="#rubriki">Рубрики</a></p>
            <p><a href="#redsovet">Редакционный совет</a></p>
            <p><a href="#dostizheniya">Наши достижения</a></p>
        </div>

        <div class="col-lg-9 pt-3">

            <div class="col-12" id="about">
                <p>«Университетская КНИГА» – отраслевое периодическое издание, учреждённое в 1996 году, основной целью которого является освещение вопросов издания и распространения учебной и научной литературы, образовательных процессов, проблем чтения и формирования библиотечных фондов, развития книжного рынка, внедрения инновационных технологий и электронных ресурсов, работы информационно-библиотечных центров и поддержки малотиражных изданий.</p>
                <p><strong>По итогам профессиональных конкурсов СМИ «PRO образование» журнал «Университетская КНИГА» стал лауреатом в 2011, 2012 и 2013 году.</strong></p>
                <p>В редакционном совете журнала – ведущие российские учёные, руководители крупнейших вузов, библиотек, издательств, отраслевых ассоциаций, представители книготоргового и образовательного сообщества. Журнал является информационным спонсором крупнейших международных и российских образовательных форумов, книжных выставок, ряда научно-практических конференций.</p>
                <p>В журнале свыше 20 рубрик по основным отраслевым сегментам: <b>книгоиздание и книгораспространение, образование и инновационные технологии, библиотеки и информационно-культурные центры</b>. Ряд рубрик ведётся профессиональными специалистами (по авторскому праву Copyright.ru, электронные библиотеки (Ассоциация электронных библиотек (ЭЛБИ) РГБ, “Формирование библиотечных фондов” РНБ, Pro-books.ru и пр.). Центральным разделом журнала является рубрика <b>«Действующие лица»</b>, в которой публикуются интервью с видными учёными, политиками, бизнесменами, руководителями министерств и ведомств, топ-менеджерами различных компаний.</p>
                <p>Журнал инициирует многочисленные отраслевые конференции и круглые столы как на профессиональных площадках так и в сети Интернет.</p>
                <p>С 1998 года журнал является учредителем и инициатором <b>Всероссийского конкурса учебных изданий для вузов «Университетская книга»</b>, который ежегодно сопровождают региональные и отраслевые конкурсы (в среднем в конкурсе принимают участие около 300 вузов России). </p>
            </div>
            <br>
            <div class="col-12" id="auditory">
                <h5>Читательская аудитория</h5>
                <hr>
                <p>Журнал «Университетская книга» имеет четко определенную, заинтересованную целевую аудиторию. Журнал адресован вузовским и публичным библиотекам, издательствам и редакционно-издательским отделам высших и средних специальных учебных заведений, независимым издательствам и книготорговым предприятиям, а также всем участникам рынка учебной литературы. </p>
                <p>Журнал интересен также авторам учебных книг, методистам, книговедам, библиографам, библиофилам, дизайнерам, историкам книги, преподавателям и студентам. 
                Журнал распространяется в странах СНГ, в некоторых зарубежных государствах (например, в США, Германии, Великобритании).</p>
                <img class="img-fluid" src="/media/images/rauditor_html_m2e4afeee.gif" alt="">
                
            </div>
            <br>
            <div class="col-12" id="redsovet">
                <h5>Редакционный совет</h5>
                <hr>
                <p><strong>Антипов К.В.</strong>, заместитель директора РКП по развитию</p>
                <p><strong>Афанасьев М.Д.</strong>, директор ГПИБ России, Президент РБА</p>
                <p><strong>Вислый А.И.</strong>, генеральный директор Российской национальной библиотеки</p>
                <p><strong>Воропаев А.Н.</strong>, начальник отдела книжных выставок и пропаганды чтения Федерального агентства по печати и массовым коммуникациям</p>
                <p><strong>Дашков Л.П.</strong>, Генеральный директор ИТК «Дашков и Ко»</p>
                <p><strong>Джиго А.А.</strong>, зав. НИО библиотековедения Фундаментальной библиотеки ИНИОН РАН</p>
                <p><strong>Есенькин Б.С.</strong>, Президент ТД «Библио-Глобус», Президент НП «Гильдия книжников»</p>
                <p><strong>Зимарин О.А.</strong>, директор издательства «Весь Мир»</p>
                <p><strong>Зорин И.В.</strong>, ректор Российской международной академии туризма</p>
                <p><strong>Иванов А.В.</strong>, Президент Издательско-полиграфической ассоциации высших учебных заведений (ВУЗИЗДАТ)</p>
                <p><strong>Иванов В.С.</strong>, Президент-ректор Международной академии бизнеса и новых технологий (МУБиНТ)</p>
                <p><strong>Кудрина Е.Л.</strong>, ректор Корпоративного университета АНО ДПО «ЦРМК – образовательные программы»</p>
                <p><strong>Кузьмин Е.И.</strong>, председатель Российского комитета программы ЮНЕСКО «Информация для всех», Президент МЦБС</p>
                <p><strong>Ленский Б.В.</strong>, профессор Высшей школы печати и медиаиндустрии Московского политехнического института</p>
                <p><strong>Никандров Н.Д.</strong>, действительный член Российской академии образования</p>
                <p><strong>Петряков В.Г.</strong>, директор издательства «Флинта»</p>
                <p><strong>Племнек А.И.</strong>, исполнительный директор Ассоциации региональных библиотечных консорциумов (АРБИКОН)</p>
                <p><strong>Соломин В.П.</strong>, профессор Российского государственного педагогического университета имени А.И. Герцена</p>
                <p><strong>Терлецкий В.В.</strong>, Генеральный директор Российского авторско-правового общества «КОПИРУС»</p>
                <p><strong>Филиппов В.М.</strong>, председатель ВАК Минобрнауки России, ректор Российского университета дружбы народов</p>
                <p><strong>Фирсов В.Р.</strong>, заместитель генерального директора РНБ</p>
                <p><strong>Цыганенко А.М.</strong>, руководитель направления «Принтмедиа-индустрия» Института повышения квалификации работников теле- и радиовещания</p>
                <p><strong>Чеченев К.В.</strong>, Генеральный директор издательства «Белый город», Президент Ассоциации книгоиздателей (АСКИ)</p>
                <p><strong>Шрайберг Я.Л.</strong>, Генеральный директор Государственной публичной научно-технической библиотеки России, Президент Национальной библиотечной ассоциации «Библиотеки будущего»</p>
                <p><strong>Щербаков С.Г.</strong>, Генеральный директор Издательского центра «Академия»</p>
                <br>
                <h5>Редакционная коллегия</h5>
                <br>
                <p><strong>Горбунов А.В.</strong>, вице-президент Ассоциации книгораспространителей независимых государств</p>
                <p><strong>Мелентьева Ю.П.</strong>, заведующая отделом проблем чтения Научного и издательского центра «Наука» РАН</p>
                <p><strong>Петрусенко Т.В.</strong>, заведующая отделом комплектования Российской национальной библиотеки</p>
                <p><strong>Прудкогляд Т.В.</strong>, директор Издательского дома Дальневосточного федерального университета, профессор кафедры Журналистики и издательского бизнеса
                <p><strong>Самарин А.Ю.</strong>, заместитель генерального директора Российской государственной библиотеки по научно-издательской деятельности</p>
                <p><strong>Сковородина И.С.</strong>, заместитель директора издательства МИСИ-МГСУ</p>
                <p><strong>Солоненко В.К.</strong>, старший научный сотрудник Научного и издательского центра «Наука» РАН</p>
                <p><strong>Шеметова Е.П.</strong>, профессор кафедры Издательского дела и книговедения Высшей школы печати и медиаиндустрии Московского политехнического института</p>
                <p><strong>Эйдемиллер И.В.</strong>, заведующая сектором изучения библиотечных фондов Научно-методического отдела РНБ, председатель Секции по формированию библиотечных фондов РБА</p>     
            </div>
            <br>
            <div class="col-12" id="dostizheniya">
                <h5>Наши достижения</h5>
                <hr>
                <p><a href="#">Журнал "Университетская КНИГА" третий год подряд стал лауреатом Всероссийского конкурса СМИ "Pro-образование 2013"</a></p>
                <p><a href="#">Нам 10 лет!</a></p>
                <p><a href="#">Сотый номер журнала</a></p>
                <p><a href="#">Юбилей на "Книгах России" (семинар)</a></p>
                
            </div>

        </div>
    
    </div>
</div>

{% endblock %}