{% extends 'base.html' %}
{% block content %}


    <!-- <div class="container">
        <div class="row g-3">
            <h1>Архив</h1>
            <div class="col-sm-6">


                        <form method="get" action="{% url 'posts_by_year' %}">
                            <label for="{{ form.year.id_for_label }}">Год:</label>
                            {{ form.year }}
                                           
            </div>


            <div class="col-sm-6">          
                        
                            <label for="{{ form.month.id_for_label }}">Месяц:</label>
                            {{ form.month }}
                        
            </div>              

            <div class="col-12">

                            <label for="{{ form.is_arhive.id_for_label }}">Архив:</label>
                            {{ form.is_arhive }}

            </div>


            <div class="col-12">

                        <button type="submit" class="btn btn-primary">Поиск</button>

            </div>
            </div>
                        </form>

            

    </div>
    
    
    
    <div class="container mt-4">           
        <div class="row">
            <div class="col-12">



            </div> 
        </div>
    </div> -->




    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-2">

                <div class="row mt-2">
                <form method="get" action="{% url 'posts_by_year' %}">
                    <label for="{{ form.year.id_for_label }}" class="my-2">Год:</label>
                    {{ form.year }}

                    <label for="{{ form.month.id_for_label }}" class="my-2">Месяц:</label>
                    {{ form.month }}
                    
                    <div class="col m-2">
                    <label for="{{ form.is_arhive.id_for_label }}">Архив:</label>
                      {{ form.is_arhive }}
                    </div>

                    <div class="col m-1">
                    <button type="submit" class="btn btn-custom rounded-0">Поиск</button>
                    </div>
                </form>
                </div>
                
                <div class="row mt-4">
                {% if image_for_month %}
                    <img src="{{ image_for_month.url }}" class="img-fluid" alt="Обложка журнала за {{ form.month.value }}">
                {% endif %}
                </div>

            </div>



            <div class="col-lg-8 mt-4">


                {% for post in posts %}
                <div id="card" class="card mb-3 border-bottom border-0">
                    <div class="row g-0">
  
                        <div class="col-lg-2 pt-2">
                          <div class="card-body">
                          <h5>{{ post.year }}</h5>
                          <hr>
                          <h5>{{ post.month }}</h5>
                          </div>
                        </div>
  
                        <div class="col-lg-4 d-flex align-items-center justify-content-center">
                            <img src="{{ post.img.url }}" class="img-fluid w-100" alt="{{ post.title }}">
                        </div>
  

                        
                        <div class="col-lg-6 ps-2 pt-2">
                            <div class="card-body">
                                <h5 class="card-title">{{ post.title }}</h5>
                                <hr>
                                <p>Рубрика:
                                    {% if post.category.count > 1 %}
                                      <a href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                                    {% else %}
                                      <a href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                                    {% endif %}
                                </p>
  
                                <p class="card-text">{{ post.content_preview|safe }}
                                    <a href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
                                                   
                                                    {% if post.category.count > 1 %}
                                                        {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
                                                    {% else %}
                                                        {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
                                                    {% endif %}

                                                {% else %}
                                                {% url 'paid_view' %}
                                                {% endif %}">
                                                {% if not post.is_paid %}
                                                Читать далее
                                                {% elif user.is_authenticated and user.subscribe %}
                                                Читать далее
                                                {% else %}
                                                Оплатить
                                                {% endif %}
                                    </a>
                                </p>
  
                                <p>
                                    <form method="post" action="{% url 'manage_favorite' post.id %}">
                                        {% csrf_token %}
                                        {% if is_favorite %}
                                            <p>Уже добавлен в избранное</p>
                                        {% else %}
                                            <button type="submit" name="add_to_favorite" class="btn btn-custom rounded-0">Добавить в избранное</button>
                                        {% endif %}
                                    </form>
                                </p>
  
                                <p>Теги:
                                    {% for tag in post.tags.all %}
                                        <a href="{% url 'tags' tag.name %}">{{ tag.name }}</a>
                                    {% endfor %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}   


            </div>
        </div>
    </div>



{% endblock %}