{% extends 'base.html' %}
{% block content %}
{% load slider_tags %}
{% load static %}




    <!-- <div class="container">
        <div class="row g-3">
            <h1>Архив</h1>
            <div class="col-sm-6">


                        <form method="get" action="{% url 'posts_by_year' %}">
                            <label for="{{ form.year.id_for_label }}">Год:</label>
                            {{ form.year }}
                                           
            </div>


            <div class="col-sm-6">          
                        
                            <label for="{{ form.month.id_for_label }}">Месяц:</label>
                            {{ form.month }}
                        
            </div>              

            <div class="col-12">

                            <label for="{{ form.is_arhive.id_for_label }}">Архив:</label>
                            {{ form.is_arhive }}

            </div>


            <div class="col-12">

                        <button type="submit" class="btn btn-primary">Поиск</button>

            </div>
            </div>
                        </form>

            

    </div>
    
    
    
    <div class="container mt-4">           
        <div class="row">
            <div class="col-12">



            </div> 
        </div>
    </div> -->



    
    <div class="container" style="min-height: 2500px;">
        <div class="row justify-content-center">

            <!-- секция слева -->
            <div class="col-xl-3 mt-4">

                <div class="div d-none d-xl-block">
                    <!-- Нав меню слева -->
                    {% include 'includes/menu-arhive.html' %}
                </div>   


            </div>



            <!-- секция справа -->
            <div class="col-12 col-xl-9 mt-4">

                <!-- Первый баннер -->
                <div class="mb-3" id="banner-head">
                    {% get_banners 'header' as banners %}
                
                    {% for banner in banners %}
                        {% if banner.show_on_main and request.path == '/' %}
                            {% include "banner.html" %}
                        {% elif not banner.show_on_main %}
                            {% include "banner.html" %}
                        {% endif %}
                    {% endfor %}
                
                </div>

                <h5>Содержание номера</h5>
                <hr>
                
                {% for post in posts %}

                <!-- Карточка -->
                <div id="card" class="card mb-3 border-bottom border-0 rounded-0">
                    <div class="row g-0">
        
        
                        <!-- Первый блок -->
                        <div class="col-md-1 d-flex flex-column">
                            <div class="card-body" style="display: flex; flex-direction: column; height: 100%;">

                            <div class="container d-flex justify-content-center align-items-center">
                                <div class="ya-share2" data-services="vkontakte,telegram" data-color-scheme="blackwhite" data-shape="normal" data-title="{{ post.title }}" data-description="{{ post.description }}" data-image="{{ post.img }}"></div>
                            </div>


                              <div class="text-center" style="margin-top: auto;">
                                <p class="my-1" style="font-size: 10px;">Номер страницы</p><h5>{{ post.page }}</h5>
                              </div>
                            </div>
                        </div>
        
                        <!-- Блок с фото -->
                        <div class="col-md-5 d-flex align-items-center justify-content-center" style="overflow: hidden;">
                          <img src="{{ post.img_card.url }}" class="img-fluid w-100 h-100" style="object-fit: cover" alt="{{ post.title }}">
                        </div>
        
        
                        <!-- Блок с текстом -->
                        <div class="col-md-6 ps-2">
                            <div class="card-body d-flex flex-column" style="height: 100%;">
        
                                
                              <div class="flex-fill">
                                <div class="row mb-4">
                                    <a id="full-txt" style="font-size: 11px;" href="">{{ post.published_date|date:"d-m-Y" }}</a>
                                    {% if post.category.count > 1 %}
                                        <a id="full-txt" style="font-size: 15px; font-family: 'Play';" href="{% url 'category_posts' category_slug=post.category.last.slug %}">Рубрика: {{ post.category.last.name }}</a>
                                    {% else %}
                                        <a id="full-txt" style="font-size: 15px; font-family: 'Play';" href="{% url 'category_posts' category_slug=post.category.first.slug %}">Рубрика: {{ post.category.first.name }}</a>
                                    {% endif %} 
                                </div>
                              </div>
        
                                <hr>
        
        
                              <div class="text-card">
                                <h5>{{ post.title }}</h5>
        
                                <p>{{ post.description }}</p>
                              </div>
        
                              
                              <div class="flex-fill">
                                <div class="container mt-5" style="background-image: linear-gradient(45deg, #95efff2a, #ecbdff38);">
                                    <div class="row d-flex align-items-center">
                                        
                                        <div class="col">
                                            <a href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
                                            {% if post.category.count > 1 %}
                                                {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
                                            {% else %}
                                                {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
                                            {% endif %}
                                        {% else %}
                                            {% url 'paid_view' %}
                                        {% endif %}" class="btn btn-custom rounded-0 my-2">Читать</a>
                                        </div>
        
                                        <div class="col text-center">
                                            <form method="post" action="{% url 'manage_favorite' post.id %}"id="favoriteForm">
                                                {% csrf_token %}
                                                {% if is_favorite %}
                                                    <p>Уже добавлен в избранное</p>
                                                {% else %}
                                                    <button type="submit" id="favoriteButton" name="add_to_favorite" class="btn">
                                                        <img src="{% static 'empty-1.png' %}" style="width: 15px;" alt="В избранном">
                                                    </button>
                                                {% endif %}
                                            </form>
                                        </div>
        
                                        <div class="col text-center" style='font-size: 12px'>
                                            {% for tag in post.tags.all|slice:":1" %}
                                                <a id="full-txt" href="{% url 'tags' tag.name %}">{{ tag.name }}</a>
                                            {% endfor %}
                                        </div>
                                    
                                    
                                    </div>
                                </div>
                              </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Конец карточки --> 

            {% endfor %}   


            </div>
        </div>
    </div>



{% endblock %}