{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col">
            <h5>Уважаемые авторы!</h5>
            <p>Журнал <strong>«Университетская книга»</strong> приглашает Вас к сотрудничеству. Мы с удовольствием предоставим страницы нашего журнала для ваших материалов. Предпочтение отдается проблемным статьям, отвечающим тематике журнала. Исключительное внимание уделяется информации о деятельности вузовских библиотек, особенно региональных.</p>
            <p><strong>Требования к тексту:</strong></p>
            <p>
                <ul>
                    <li>Электронный формат (документ MS Word, расширение .doc, .rtf)</li>
                    <li>Объем – ½ авторского листа (20000 печатных знаков). В исключительных случаях объем может быть значительно превышен и материал поделен на части для публикации в нескольких номерах.</li>
                    <li>В сведениях об авторе должны быть указаны фамилия, имя, отчество (полностью), адрес, ученая степень и звание, а также сфера научных интересов, общее число научных трудов. По желанию автора можно указать и другие сведения. Необходима цветная фотография автора (желательно, жанровая).</li>
                    <li>Бесплатная статья не должна содержать рекламную информацию. Если статья носит коммерческий характер, то условия публикации оговариваются индивидуально. Статья может сопровождаться фотографиями, рисунками, таблицами, графиками.</li>
                </ul>
            </p>
            <p><strong>Требования к иллюстрациям:</strong></p>
            <p>
                <ul>
                    <li>Электронный формат</li>
                    <li>Расширение .jpeg, .jpg, .bmp.</li>
                    <li>Расширение не менее 200 dpi (точек/дюйм)</li>
                </ul>
            </p>
            <p>Гонорар оговаривается индивидуально и выплачивается после выхода журнала. После публикации статьи авторы получают по 2 авторских экземпляра журнала.

                К сожалению, редакция не располагает возможностями для рецензирования статей в случае отказа от их публикации после обсуждения редакционной коллегией
                
                Материалы для публикации просьба отправлять по электронной почте:
                <a href="mailto:unknigа@mаil.ru">unknigа@mаil.ru</a>.
                
                Мы уверены, что наше сотрудничество будет интересным и взаимовыгодным!</p>

        </div>
    </div>
</div>

{% endblock %}