{% extends 'base.html' %}
{% block content %}
{% load slider_tags %}
{% load static %}

<div class="container">
    <div class="row">

        <!-- секция слева -->
        <div class="col-3 d-none d-xl-block mt-4">
            <!-- Нав меню -->
            {% include 'includes/menu.html' %}
        </div>  


        <div class="col-12 col-xl-9 mt-4">

            <!-- Первый баннер -->
            <div class="mb-3" id="banner-head">
                {% get_banners 'header' as banners %}
            
                {% for banner in banners %}
                    {% if banner.show_on_main and request.path == '/' %}
                        {% include "banner.html" %}
                    {% elif not banner.show_on_main %}
                        {% include "banner.html" %}
                    {% endif %}
                {% endfor %}

            </div>

            
            <!-- Редактируемый контент из админки -->
            {{ content|safe }}   

        </div>


    </div>
</div>

{% endblock %}