{% extends "base.html" %}
{% load static %}
{% block content %}
{% load slider_tags %}

<div class="container" style="min-height: 3000px;">
    <div class="row">

        <div class="col-3 d-none d-xl-block my-4">

            <!-- Навменю -->
            {% include 'includes/menu-all.html' %}
            
        </div>

        <div class="col-12 col-xl-9 mt-4">

            
            <!-- Первый баннер -->
            <div class="mb-3" id="banner-head">
                {% get_banners 'header' as banners %}
            
                {% for banner in banners %}
                    {% if banner.show_on_main and request.path == '/' %}
                        {% include "banner.html" %}
                    {% elif not banner.show_on_main %}
                        {% include "banner.html" %}
                    {% endif %}
                {% endfor %}

            </div>

            <h5>Выберите форму подписки</h5>

            <select id="subscriptionType" class="form-select mb-3" onchange="toggleSubscriptionForm()">
                <option value="fst">Выберите тип оплаты</option>
                <option value="corporate">Юридическое лицо</option>
                <option value="user">Физическое лицо</option>
            </select>
        
            <div id="corporateForm" style="display: {% if corporate_form_display %}block{% else %}none{% endif %};">
                <h5>Подписка для юридического лица</h5>
                <p>Данная форма поможет Вам сделать счет для оплаты подписки. Все поля обязательны для заполнения. Cтоимость подписки одного экземпляра в месяц составляет 1300 руб (электронная версия 720 руб).</p>
                <hr>
                {% include 'subscriptions/sub_form.html' %}
            </div>
        
            <div id="userForm" style="display: {% if user_form_display %}block{% else %}none{% endif %};">
                <h5>Подписка для физического лица</h5>
                <p>Данная форма поможет Вам сделать счет для оплаты подписки. Все поля обязательны для заполнения. Cтоимость подписки одного экземпляра в месяц составляет 1300 руб (электронная версия 720 руб).</p>
                <hr>
                {% include 'subscriptions/sub_usr_form.html' %}
            </div>

            <hr>

            <h5 class="mt-3">АГЕНТСКАЯ ПОДПИСКА НА ЖУРНАЛ «УНИВЕРСИТЕТСКАЯ КНИГА»:</h5>
                <div class="agent mt-2">
                    <p><a href="https://www.ural-press.ru/">УРАЛ-ПРЕСС</a><br>Тел.: +7 (495) 961-23-62; +7 (343) 26-26-543;</p>
                    <p><a href="https://delpress.ru/%D0%B6%D1%83%D1%80%D0%BD%D0%B0%D0%BB">ДЕЛОВАЯ ПРЕССА</a><br>Тел.: +7 (499) 391-57-36; Университетская_книга</p>
                    <p><a href="https://www.akc.ru/itm/universitetskay_a-kniga/">КНИГА-СЕРВИС</a><br>Тел.: +7 (495) 680-90-88, +7 (495) 680-89-87;</p>
                    <p><a href="https://www.pressa-rf.ru/cat/1/edition/r72296/">ПРЕССА РОССИИ</a><br>Тел.: +7 (495) 172-46-47;</p>
                </div> 
            <h5 class="mt-3">ПОДПИСКА НА ЭЛЕКТРОННЫЕ ВЕРСИИ:</h5>   
                <div class="el-podpisk mt-2">
                    <p><a href="https://www.ivis.ru/">ИВИС</a><br>Тел.: +7 (495) 777-65-57;</p>
                    <p><a href="https://www.elibrary.ru/defaultx.asp">НАУЧНАЯ ЭЛЕКТРОННАЯ БИБЛИОТЕКА</a><br>Тел.: +7 (495) 935-01-01;</p>
                    <p><a href="https://www.directmedia.ru/">УНИВЕРСИТЕТСКАЯ БИБЛИОТЕКА ОНЛАЙН</a><br>Тел.: +7 (4872) 25-11-83;</p>
                    <p><a href="https://www.rucont.ru/">НАЦИОНАЛЬНЫЙ ЦИФРОВОЙ РЕСУРС «РУКОНТ»</a><br>Тел.: +7 (495) 680-89-62;</p>
                </div>

        </div>
    
    </div>
</div>

<script>
    // Функция для скрытия/отображения формы в зависимости от выбора в выпадающем меню
    function toggleSubscriptionForm() {
        var subscriptionType = document.getElementById("subscriptionType").value;
        var corporateForm = document.getElementById("corporateForm");
        var userForm = document.getElementById("userForm");

        if (subscriptionType === "corporate") {
            corporateForm.style.display = "block";
            userForm.style.display = "none";
        } else if (subscriptionType === "user") {
            corporateForm.style.display = "none";
            userForm.style.display = "block";
        }
    }
</script>
{% endblock %}