{% extends 'base-account.html' %}
{% block content %}

 <!-- Обложка -->
 <div class="container">
  <div class="row">
    <div class="col d-flex align-items-center justify-content-center" style="height: 300px;">
      {% if profile.cover_photo %}
        <img class="w-100 h-100 rounded" style="object-fit: cover;" src="{{ profile.cover_photo.url }}" alt="Обложка профиля">
      {% endif %}
    </div>
  </div>  
</div>


<div class="container mt-5">
  <div class="row">

      <!--Левое меню -->
      <div class="col-lg-3 mb-5">
        <h5>Профиль пользователя</h5>
        <hr>
        <div class="photo-profile mb-3 d-flex align-items-center justify-content-center">
          {% if profile.photo %}
              <img class="w-75" src="{{ profile.photo.url }}" alt="Фото профиля">
          {% endif %}
        </div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ profile_form.as_p }}
            <button type="submit" class="btn btn-custom">Сохранить изменения</button>
        </form>
        <hr>
        <h5>Смена пароля</h5>
        <form method="post" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ password_change_form.as_p }}
          <button type="submit" class="btn btn-custom">Сменить пароль</button>
        </form>

      </div>  

      <div class="col-lg-9">
        <h5>Избранное</h5>
        <hr>
        <!-- Контейнер -->
        <div class="container">
        {% for favorite_post in request.user.favoritepost_set.all %}
        <div class="row mb-4"> 
          <div class="col-7"> 
            <a href="{% url 'post_detail' category_slug=favorite_post.post.category.first.slug slug=favorite_post.post.slug %}">
              {{ favorite_post.post.title }}
            </a>
            {{ favorite_post.post.description }}   
          </div>
          <div class="col-3"> 
            <form method="post" action="{% url 'manage_favorite' favorite_post.post.id %}">
              <button type="submit" class="btn btn-custom" name="remove_from_favorite">Удалить из избранного</button>
            </form>
          </div>
        </div> 
        {% endfor %}
        </div>
        <!-- Конец Контейнер -->
      </div>


  </div>
</div>  




{% endblock %}
