{% extends 'base.html' %}
{% block content %}
{% load static %}

<div class="container">
    <div class="row">

        <div class="col-lg-3 mb-3">
            <p><h5>Рекламодателям</h5></p>
            <hr>
            <p><a href="#obshee">Общие правила</a></p>
            <p><a href="#price">Расценки</a></p>
            <p><a href="#maket">Требования к макету</a></p>
            <p><a href="#site">Реклама на сайте</a></p>
        </div>

        <div class="col-lg-9">

            <div id='obshee' class="col-12">
                <p>Размещая рекламу в журнале "Университетская книга", Вы получаете возможность воздействовать на четко определенную, заинтересованную целевую аудиторию читателей, готовую воспринять Вашу информацию.</p>
                <p><strong>Подписчиками журнала являются:</strong></p>
                <p>
                    <ul>
                        <li>Библиотеки вузов России;</li>
                        <li>Вузы, кафедры вузов, УМО;</li>
                        <li>Публичные библиотеки;</li>
                        <li>Издательства;</li>
                        <li>Книготорговые предприятия;</li>
                        <li>Научные и общественные организации</li>
                    </ul>
                </p>
                <p>Распространяясь по подписке, являясь информационным спонсором многих профессиональных мероприятий, журнал напрямую попадает в руки Ваших потенциальных клиентов.</p>
                <p>Наши читатели нуждаются в подробном информировании о предприятиях, специализирующихся на производстве и продаже книготоргового, библиотечного, архивного оборудования, техники, презентационного оборудования, систем автоматизации, программного обеспечения, а также о последних разработках и нововведения в области образования, книгоиздания, книжной торговли, библиотечного дела. А главное – оперативное и полное информирование о выходящих книжных новинках.</p>
                <p>Расскажите о своих услугах и продукции!</p>
                <p>Мы предлагаем Вам разместить рекламные модули на страницах нашего журнала. Также возможно размещение статей рекламно-информативного характера. Для издательств предусмотрена возможность размещения строчной рекламы, в рамках которой наши читатели смогут составить представление об имеющихся предложениях на книжном рынке. Рассматриваются варианты вложения в журнал вашей листовки, купона. В каждом случае, вопросы оплаты (или иной формы сотрудничества) рассматриваются индивидуально.</p>
                <p>Приветствуется любая инициатива с вашей стороны, а мы, в свою очередь, сделаем все, чтобы наши отношения были продуктивны и выгодны обеим сторонам.</p>
                <br>
                <p><strong>Характеристики журнала:</strong></p>
                <p>
                    <ul>
                        <li>Учредитель и издатель: ООО «ИД Университетская Книга»</li>
                        <li>Регистрационное свидетельство: ПИ № ФС77-24339 от 04.05.2006</li>
                        <li>Периодичность: 10 номеров в год</li>
                        <li>Тираж: 4 000 экз.;</li>
                        <li>Объем: 80 - 96 полос;</li>
                        <li>Формат: 210х279;</li>
                        <li>Красочность: полноцветный;</li>
                        <li>ISSN 1726-6726;</li>
                        <li>Каналы распространения: по подписке, а также на специализированных образовательных, библиотечных, книжных выставках, ярмарках, форумах и конференциях;</li>
                        <li>Территориальный охват: Россия, страны СНГ (Белоруссия, Украина), и некоторые зарубежные государства (США, Германия, Великобритания)</li>
                    </ul>
                </p>
                <p>По вопросам размещения рекламы, а также информационного спонсорства мероприятий просьба обращаться к Веркловой Светлане <a href="mailto: unkniga@mail.ru">unkniga@mail.ru</a>, тел./факс <a href="tel:+74952286458">+7 (495) 228-64-58</a> (доб. 127)</p>
                <p><strong>Преимущества подписки и размещения рекламы в «Университетской книге»</strong></p>
                <br>
                <p><strong>Издательствам и книготорговым организациям:</strong></p>
                <p>
                    <ul>
                        <li>Прямая целевая аудитория подписчиков: библиотеки и кафедры вузов, ЦБС, городские библиотеки и т.д. 68% подписчиков – это библиотеки и руководство высших учебных заведений РФ и стран СНГ, 12% - областные библиотеки России и стран СНГ, 2% - госаппарат, члены коллегии Министерства образования РФ.</li>
                        <li>Полная информация о библиотечных, книжных и образовательных форумах</li>
                        <li>Аналитические обзоры рынка учебной и деловой литературы</li>
                        <li>Специальные рубрики для издательств и книготорговых организаций («Мир издательств», «Книгораспространение», «Авторское право», «Бизнес-образование» и т.д.)</li>
                        <li>Журнал распространяется по всем регионам РФ, странам СНГ (Белоруссия, Украина), т.е. широкий территориальный охват, выход на региональные рынки, поиск новых клиентов.</li>
                        <li>Журнал позиционируется на всех тематических выставках, ярмарках, библиотечных и образовательных форумах. Журнал выступает информационным спонсором многих мероприятий – книжных выставок, ярмарок, образовательных форумов, научно-практических конференций и симпозиумов.</li>
                        <li>Возможность размещения как прямой рекламы (рекламные модули), так и рекламной статьи, обзора, интервью.</li>
                    </ul>
                </p>
                <br>
                <p><strong>Библиотекам:</strong></p>
                <p>
                    <ul>
                        <li>Максимально полная информация о книжных новинках и о планируемых к изданию книгах</li>
                        <li>Новости и события: нормативные документы, интервью, зарубежный опыт</li>
                        <li>Обзоры рынка информационных ресурсов, библиотечного оборудования и книг для профессионального роста</li>
                        <li>Рубрика «Для Вас, библиотеки!», в которой даются сведения о предприятиях, специализирующихся на производстве библиотечного и архивного оборудования. Предлагаются варианты внедрения систем автоматизации библиотек, рассматривается специальное программное оборудование для библиотек. Освещаются библиотечные мероприятия, совместные программы и акции</li>
                        <li>Возможность публикации статьи о работе библиотеки, размещения информации о проводимых в библиотеке мероприятия, достижениях</li>
                    </ul>
                </p>
                <br>
                <p><strong>Кафедрам и учебно-методическим объединениям:</strong></p>
                <p>
                    <ul>
                        <li>Участие в ежегодном общероссийском конкурсе учебных изданий для вузов «Университетская книга»</li>
                        <li>Обсуждение «проблемных тем», статьи, интервью, освещение основных тенденций в образовании и вузовском книгоиздании</li>
                        <li>Участие в работе экспертного и редакционного советах</li>
                        <li>Все книжные новинки рынка учебной и деловой литературы</li>
                    </ul>
                </p>
                <br>
                <p><strong>Предприятиям, специализирующимся на производстве и продаже книготоргового и библиотечного оборудования:</strong></p>
                <p>
                    <ul>
                        <li>Прямая целевая аудитория подписчиков: журнал выписывают вузовские библиотеки, а также крупные публичные библиотеки (ГПНТБ, ГПБ им. Некрасова, Московская городская деловая библиотека), которые нуждаются в подробном информировании о предприятиях, специализирующихся на производстве и продаже библиотечного оборудования, архивного оборудования</li>
                        <li>Существует специальная рубрика «Для вас, библиотеки», где даются сведения о предприятиях, предлагающих библиотечное и архивное оборудование, библиотечную технику. В ней можно разместить вашу рекламу</li>
                        <li>Возможность размещения как прямой рекламы (рекламные модули), так и рекламной статьи, обзора</li>
                        <li>Журнал выписывается многими крупными издательствами и книготорговыми предприятиями</li>
                        <li>Журнал распространяется по всем регионам РФ, странам СНГ (Белоруссия, Украина), т.е. широкий территориальный охват, выход на региональные рынки, поиск новых клиентов</li>
                        <li>Журнал позиционируется на всех тематических выставках, ярмарках, библиотечных и образовательных форумах. Т.е. выход на четко определенную заинтересованную читательскую аудиторию</li>
                    </ul>
                </p>
                <br>
                <p><strong>Предприятиям, специализирующимся на создании и распространении программного обеспечения для библиотек:</strong></p>
                <p>
                    <ul>
                        <li>Прямая целевая аудитория подписчиков: журнал выписывают вузовские библиотеки, а также крупные публичные библиотеки (ГПНТБ, ГПБ им. Некрасова, Московская городская деловая библиотека), которые в настоящее время активно применяют информационные технологии. В издательстве «Омега-Л» выходит специальная серия для библиотек «Электронные ресурсы в библиотеках и образовании». Мы сталкиваемся с тем, что библиотеки нуждаются не только в книгах по информационным технологиям и работе с электронными ресурсами, но и непосредственно в программном обеспечении</li>
                        <li>В журнале есть специальная рубрика «Для вас, библиотеки», где, в частности, предлагаются варианты внедрения систем автоматизации библиотек, рассматривается специальное программное обеспечение для библиотек</li>
                        <li>Возможность размещения как прямой рекламы (рекламные модули), так и рекламной статьи, обзора</li>
                        <li>Журнал позиционируется на всех тематических выставках, ярмарках, библиотечных и образовательных форумах. Т.е. выход на четко определенную заинтересованную читательскую аудиторию</li>
                    </ul>
                </p>

            </div>
            <br>
            <div class="div" id="price">
                <p><strong>Прайс-лист на рекламу в печатной версии журнала в 2021 году</strong></p>
                <table class="table">
                    <thead>
                      <tr>
                        
                        <th scope="col">Расположение/рубрика</th>
                        <th scope="col">Размеры/объем</th>
                        <th scope="col">Цена, руб.</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">На внутренних цветных полосах модульная реклама </td>
                            <td>1 полоса (210х279 мм)</td>
                            <td>20 000</td>
                            </tr>
                        
                            <tr>
                            <td>1/2 полосы (210х139,5 мм, горизонтальный модуль)</td>
                            <td>11 000</td>
                        </tr>

                        <tr>
                            <td rowspan="2">На внутренних цветных полосах текстовая реклама (статья, интервью, аналитический обзор, рецензия на книгу, информационное сообщение, презентация и пр.)</td>
                            <td>1/2 полосы – 2500 знаков + фото (210х139,5 мм, горизонтальный модуль)</td>
                            <td>9 000</td>
                            </tr>
                            <tr>
                            <td>1 полоса – 5000 знаков (210х279 мм)+ фото</td>
                            <td>18 000</td>
                        </tr>

                        <tr>
                            <td>1-я страница журнала</td>
                            <td>1 полоса (210*279мм)</td>
                            <td>35 000</td>
                        </tr>

                        <tr>
                            <td>2-я и 3-я страницы журнала</td>
                            <td>1 полоса (210*279 мм)</td>
                            <td>21 000</td>
                        </tr>

                        <tr>
                            
                            <td colspan="3"><b>На обложках</b></td>
                            
                        </tr>

                        <tr>
                            <td>2-я сторонка</td>
                            <td>1 полоса (210х279 мм)</td>
                            <td>42 000</td>
                        </tr>
                        <tr>
                            <td>3-я сторонка</td>
                            <td>1 полоса (210х279 мм)</td>
                            <td>42 000</td>
                        </tr>
                        <tr>
                            <td>4-я сторонка</td>
                            <td>1 полоса (210х279 мм)</td>
                            <td>48 000</td>
                        </tr>

                        <tr>
                            <td>Рубрика «Анонсы месяца»</td>
                            <td>1 позиция (не более 700 знаков аннотация +обложка)</td>
                            <td>3 000</td>
                        </tr>

                        <tr>
                            <td>Вложение в журнал (диск, листовка, буклет) с упаковкой каждого экземпляра в пленку</td>
                            <td>не более 50 гр.</td>
                            <td>45 000</td>
                        </tr>

                        <tr>
                            <td>Вложение в журнал без упаковки в пленку</td>
                            <td>не более 50 гр., 1 влож./1 экз. Минимально 300 влож.</td>
                            <td>40</td>
                        </tr>



                    </tbody>
                  </table>
                  <p>Редакция журнала принимает заказы на составления аналитических обзоров по различным аспектам развития книжной отрасли. Стоимость такого исследования определяется индивидуально, в зависимости от поставленных задач, но ориентировочная цена 1 страницы текста - 2500 руб.
                    НДС не облагается, действует гибкая система скидок для постоянных рекламодателей</p>

            </div>
            <br>
            <div class="div" id="maket">
                <p><strong>Требования к макету</strong></p>
                <p>Формат полосы обрезной 210х279 мм
                    Поля – не менее 5 мм со всех сторон (тексты и картинки не должны выходить на поля)
                    Формат до обреза – 215х284 мм </p>
                <p>Рекламные материалы могут быть представлены в следующих форматах:</p>
                <p>
                    <ul>
                        <li>EPS (до 5-й версии)</li>
                        <li>Аdobe Illustrator (до 5-й версии)</li>
                        <li>PDF</li>
                        <li>TIFF, BMP, JPG в CMYK с разрешением 300 точек/дюйм</li>
                        <li>отдельно сканированные фотографии и текст в Microsoft Word</li>
                    </ul>
                </p>
                <p>Информация может быть направлена по электронной почте в архиве ZIP, RAR</p>
            </div>

        </div>


    </div>
</div>

{% endblock %}