{% extends 'base.html' %}
{% block content %}
{% load slider_tags %}
{% load static %}



<div class="container text-left">
    <div class="row justify-content-center">

        <!-- секция слева -->
        <div class="col-3 d-none d-xl-block mt-4">
            <!-- Нав меню -->
            {% include 'includes/menu-all.html' %}
        </div>  
        
        
        <div class="col-12 col-xl-9 mt-4">

                <h5>Результаты поиска</h5>
                <hr>
                {% for post in posts %}

                <!-- Карточка -->
                <div class="search-card mb-4 p-4" style="background-color: white;">
                    <h5>{{ post.title }}</h5>
                    <p>{{ post.description }}</p>
                    <div class="row">
                            <a href="{% if not post.is_paid or user.is_authenticated and user.subscribe %}
                            {% if post.category.count > 1 %}
                                {% url 'post_detail_multiple_categories' category_slug=post.category.all.0.slug secondary_category_slug=post.category.last.slug slug=post.slug %}
                            {% else %}
                                {% url 'post_detail' category_slug=post.category.first.slug slug=post.slug %}
                            {% endif %}
                        {% else %}
                            {% url 'paid_view' %}
                        {% endif %}" class="btn btn-custom rounded-0 my-2">Читать</a>
                        <a id="full-txt" style="font-size: 11px;" href="">{{ post.published_date|date:"d-m-Y" }}</a>
                        {% if post.category.count > 1 %}
                            <a id="full-txt" style="font-size: 13px;" href="{% url 'category_posts' category_slug=post.category.last.slug %}">{{ post.category.last.name }}</a>
                        {% else %}
                            <a id="full-txt" style="font-size: 13px;" href="{% url 'category_posts' category_slug=post.category.first.slug %}">{{ post.category.first.name }}</a>
                        {% endif %} 
                    </div>
                </div>
                <!-- Конец карточки --> 

                {% endfor %}   
                    
                    
        </div>


    </div>
</div>


{% endblock %}