{% extends 'base-account.html' %}
{% load static %}
{% block content %}
{% load slider_tags %}

<div class="container">
    <div class="row">
        <div class="col-3 d-none d-xl-block my-4">
            <!-- Навменю -->
            {% include 'includes/menu-all.html' %}
        </div>


        <div class="col-12 col-xl-9 mt-4">

                    <!-- Первый баннер -->
                    <div class="mb-3" id="banner-head">
                        {% get_banners 'header' as banners %}
                    
                        {% for banner in banners %}
                            {% if banner.show_on_main and request.path == '/' %}
                                {% include "banner.html" %}
                            {% elif not banner.show_on_main %}
                                {% include "banner.html" %}
                            {% endif %}
                        {% endfor %}

                    </div>



                    <!-- Форма регистрации -->
                    <div class="card rounded-0">
                        <div class="card-body p-5">
                        <h5 class="text-uppercase text-center mb-5">Создать аккаунт</h5>

                        <form method="post">
                            {% csrf_token %}
                        
                            <!-- Поле email -->
                            <div class="form-group my-4">
                                <label for="{{ form.email.id_for_label }}" class="mb-2">Ваш email</label>
                                {{ form.email }}
                                {% if form.email.errors %}
                                    <div class="alert alert-danger">{{ form.email.errors }}</div>
                                {% endif %}
                            </div>
                        
                            <!-- Поле password1 -->
                            <div class="form-group my-4">
                                <label for="{{ form.password1.id_for_label }}" class="mb-2">Придумайте пароль</label>
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    <div class="alert alert-danger">{{ form.password1.errors }}</div>
                                {% endif %}
                            </div>
                        
                            <!-- Поле password2 -->
                            <div class="form-group my-4">
                                <label for="{{ form.password2.id_for_label }}" class="mb-2">Повторите пароль</label>
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    <div class="alert alert-danger">{{ form.password2.errors }}</div>
                                {% endif %}
                            </div>
                        
                            <!-- Поле username -->
                            <div class="form-group my-4">
                                <label for="{{ form.username.id_for_label }}" class="mb-2">Ваше имя</label>
                                {{ form.username }}
                                {% if form.username.errors %}
                                    <div class="alert alert-danger">{{ form.username.errors }}</div>
                                {% endif %}
                            </div>
                        
                            <!-- Поле terms_accepted -->
                            <div class="form-group my-4">
                                <label for="{{ form.terms_accepted.id_for_label }}" class="me-2">Я принимаю условия пользовательского соглашения</label>
                                {{ form.terms_accepted }}
                                {% if form.terms_accepted.errors %}
                                    <div class="alert alert-danger">{{ form.terms_accepted.errors }}</div>
                                {% endif %}
                            </div>
                        
                            <!-- Кнопка отправки -->
                            <div class="">
                                <button type="submit" class="btn btn-custom">Регистрация</button>
                            </div>

                            <p class="mt-5 mb-0">Уже есть аккаунт? <a href="{% url 'custom-login' %}"
                            id="full-txt"><u>Вход здесь</u></a></p>
                        </form>

                        </div>
                    </div>
         </div>
    </div>
</div>

{% endblock %}
